<html>
    
    <hr/>
    <h1> Task </h1>

    <div><a href="/cat-list">Category List</a></div>
    <div style="width: 100px"><hr></div>
    <div><a href="/prd-list">Product List</a></div>
    <div style="width: 100px"><hr></div>
    <div><a href="/user-list">User List</a></div>

    <h1> Insert </h1>


    <div><a href="{{url_for('cat_create')}}">Create Category</a></div>
    <div style="width: 100px"><hr></div>
    <div><a href="{{url_for('prd_create')}}">Create Product</a></div>
    <div style="width: 100px"><hr></div>
    <div><a href="{{url_for('user_create')}}">Create Users</a></div>
    
    <hr/>
    
</html>